<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APDLab1"
        tools:targetApi="31">
        
        <receiver android:name="service.BootBroadcast" android:enabled="true" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="service.FirebaseService" />
        <activity
            android:name="service.BroadcastMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="firestore.ui.FireStoreUploadActivity" />
        <activity android:name="twowaybindingpractice.ui.TwoWayBindingPracticeActivity" />
        <activity android:name="viewmodelexample.ui.MainActivity"/>
        <activity android:name="tictactoe.TickTacToe" />
        <activity android:name="loginpage.ui.a1ForgetPassword" />
         <activity android:name="loginpage.ui.a1LoginPage" />
        <activity android:name="tictactoe.TickTacToeComputer" />
        <activity android:name="form.ui.FormActivity" />
        <activity android:name="tictactoe.SelectOpponent" />
        <activity android:name="animationtask.ui.AnimExample" />
        <activity android:name="mutableLiveData.PrimeActivity"/>
        <activity android:name="firebasetesting.ui.MainFirebase"/>
        <activity android:name="covariantandcontravariant.ui.MainContravariant" />
        <activity android:name="com.example.apdlab1.MainActivity" />
    </application>

</manifest>